@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply bg-gray-100 text-gray-700;
    font-family: "Rubik";
}

h1 {
    @apply text-2xl font-bold text-red-500;
}

h2 {
    @apply text-xl font-bold my-4;
}

h3 {
    @apply text-lg font-bold my-4;
}

ul {
    @apply my-10;
}

p {
    @apply my-2;
}

/* header */
header {
    @apply bg-white;

    nav {
        @apply flex items-center gap-5 max-w-screen-lg px-12 py-4 mx-auto;
    }

    h1 {
        @apply mr-auto;
    }
}

/* form elements */
.form-card {
    @apply max-w-screen-sm mx-auto bg-white p-6 rounded-lg shadow-md;
}

label {
    @apply block text-sm font-semibold text-gray-600 mt-4;
}

input, select, textarea {
    @apply block w-full mt-2 mb-4 p-2 
           border border-gray-300 rounded-md
           focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-red-400
           transition duration-200;
}

textarea {
    @apply resize-none;
}
/* custom classes */
.container {
    @apply max-w-screen-lg mx-auto px-12 py-8 min-h-11/12;
}
.card {
    @apply bg-white rounded border border-gray-200 px-3 py-3 my-2 flex justify-between items-center;
}
.highlight {
    @apply border-l-4 border-l-red-500;
}

.btn {
    @apply rounded-md px-4 py-2 
           bg-blue-500 text-white font-medium
           hover:bg-blue-600 
           transition duration-200
           focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2;
}

.footer {
    @apply mx-auto text-center;
}